/**
 * Tor theme for reveal.js, based on 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;
$heading-margin: 20px;
$mainFontSize: 42px;
$mainFont: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headingFont: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #683086;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Overrides -----------------------------------
/* Style header/footer <div> to show in all the slides */
.footer {
  bottom: 3px;
  display: block;
  opacity: 1;
  background-color: rgb(104, 48, 134);
  transition: opacity 800ms ease-in-out;
  position: fixed;
  min-height: 10px;
  height: 8vh;
  z-index: 20;
  width: 100%;
  font-size: 3vh;
  text-align: center;
  letter-spacing: 0em;
}

.footer .left {
  padding: 0.5em;
  float: left;
}

.footer .right {
  padding-right: 0.5em;
  margin-top: -0.9em;
  float: right;
}

.footer .right img {
  height: 2em;
}

.footer a {
  color: #FFFFFF;
}

.reveal hr {
  border: 5px solid #fff;
}

.reveal h2 {
  font-size: var(--r-heading2-size);
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 20px 0;
  color: var(--r-link-color);
  font-family: var(--r-main-font);
  font-weight: var(--r-heading-font-weight);
  line-height: 1.2;
  letter-spacing: var(--r-heading-letter-spacing);
  text-transform: none;
  text-shadow: var(--r-heading-text-shadow);
  word-wrap: break-word;
}

.slides {
  text-align: left !important;
}

.title {
  text-align: center;
}
// ---------------------------------------------
